{% extends "n.html" %}
{% load static %}
{% block content %}


<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static '/assets/images/neww_kick_head.jpeg' %}')">
        <div class="container">
            <h1 class="page-title" style="color: white">Checkout</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store'%}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form id="razorpay-form" action="{% url 'place_order' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                           
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            
                        {% if addresses%}
                          <div class="form-group">
                                <p>Select an address:</p>
                                <div class="address-list" style="max-height: 250px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
                                    {% for address in addresses %}
                                        <div class="address-box" style="border: 0.5px solid #ccc; padding:10px; margin-bottom: 8px; border-radius: 5px;">
                                            <label>
                                                <input type="radio" class="address-radio" name="address_id" value="{{ address.id }}" {% if forloop.first %}checked{% endif %}>
                                                <strong>{{ address.fname }} {{ address.lname }}</strong><br>
                                                {{ address.address }}, {{ address.city }}, {{ address.state }}<br>
                                                {{ address.country }} - {{ address.pincode }}<br>
                                                Phone: {{ address.phone }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            <!-- Ship to Different Address Button -->
                            <a id="ship-to-different-address" class="btn btn-outline-primary"> +Add Address</a>

                            <!-- New address form fields (hidden by default) -->
                            <div class="row col-ld-12" id="address-form" style="display: none;">
                              
                                <div class="col-sm-10">
                                    <label>First Name *</label>
                                    <input type="text" name="fname" class="form-control" >
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-10">
                                    <label>Last Name *</label>
                                    <input type="text" name="lname" class="form-control" >
                                </div><!-- End .col-sm-6 -->

                                <!-- Other address fields like country, street address, city, state, pincode, phone, email, etc. -->
                                <div class="col-10">
                                    <label>Country *</label>
                                    <input type="text" name="country" class="form-control" >
                                </div><!-- End .col-12 -->

                                <div class="col-10">
                                    <label>Street address *</label>
                                    <input type="text" name="address" class="form-control" placeholder="House number and Street name" >
                                </div><!-- End .col-12 -->

                                {% comment %} <div class="col-12">
                                    <input type="text" name="address2" class="form-control" placeholder="Appartments, suite, unit etc ..." required>
                                </div><!-- End .col-12 --> {% endcomment %}

                                <div class="col-sm-10">
                                    <label>Town / City *</label>
                                    <input type="text" name="city" class="form-control" >
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-10">
                                    <label>State </label>
                                    <input type="text" name="state" class="form-control" >
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-10">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" name="pincode" class="form-control" >
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-10">
                                    <label>Phone *</label>
                                    <input type="tel" name="phone" class="form-control" >
                                </div><!-- End .col-sm-6 -->

                                <div class="col-10">
                                    <label>Email address *</label>
                                    <input type="email" name="email" class="form-control" >
                                </div><!-- End .col-12 -->

                                {% comment %} <div class="col-10">
                                    <label>Order notes (optional)</label>
                                    <textarea class="form-control" name="order_notes" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                </div><!-- End .col-12 --> {% endcomment %}
                            </div>

                            <!-- Rest of the form fields -->

                            {% comment %} <button type="submit" class="btn btn-primary">Place Order</button> {% endcomment %}
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            {% comment %} <th>Qty</th> {% endcomment %}
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in cart_items%}
                                    
                                        <tr>
                                            <td><a href="#">{{ item.product.name|truncatechars:20}} </a>&nbsp;&nbsp;  x {{item.product_qty}}</td>
                                           
                                            <td>₹{{item.total_cost | stringformat:'d'}}</td>
                                        </tr>
                                        {% endfor %}
                                            <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₹{{sub_total | stringformat:'d'}}</td>
                                        </tr><!-- End .summary-subtotal -->

                                        {% if applied_coupon %}
                                        <tr class="summary-shipping">
                                            <td>Coupon applied :</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr class="summary-shipping-row">
                                                <td style="background:violet" class="text-center">{{ applied_coupon|upper }} {{coupon_discount_percentage}}% OFF </td>
                                                <td><a href="{% url 'remove_coupon' %}"><i class="icon-close"></i></a></td>
                                           </tr>
                                           <tr class="summary-shipping">
                                            <td>Coupon discount :&nbsp;</td>
                                            <td>₹{{ coupon_discount|floatformat:0}} </td>
                                        </tr>
                                        {% endif %}
                                        {% if total_saved_amount > 0 %}
                                        <tr class="summary-shipping">
                                            <td>Saved Amount (Offers):</td>
                                            <td>₹{{ total_saved_amount|stringformat:'d' }}</td>
                                        </tr><!-- End .summary-shipping -->
                                        {% endif %}
                                         
                                    

                                        {% if request.session.shipping_type %}
                                            <tr>
                                                <td>Shipping:</td>
                                                <td>{{ request.session.shipping_type }}</td>
                                            </tr>
                                            <tr>
                                                <td>Shipping Cost:</td>
                                                <td>₹{{ request.session.shipping_amount|stringformat:'d' }}</td>
                                            </tr>
                                        {% endif %}
                                       
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <input type="hidden" value="{{total_price}}" name="total_price">
                                            <td>₹{{ total_price | stringformat:'d'}}</td>
                                        </tr><!-- End .summary-total -->
                                      
                                    </tbody>
                                </table><!-- End .table table-summary -->



                           

                                <button type="submit" class="btn  btn-success w-100 mt-2"> 
                                {% comment %} <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">  {% endcomment %}
                                    <input type="hidden" value="COD" name="payment_mode">
                                    <span class="btn-text">Cash on delivery</span>
                                    <span class="btn-hover-text">Place order</span>
                                </button>
                                {% comment %} <button type="button" class="btn btn-success payWithRazorpay w-100 mt-2">Pay with Razorpay</button> {% endcomment %}
                                <button type="button" class="btn btn-success payWithRazorpay w-100 mt-2" onclick="submitRazorpayForm()">Pay with Razorpay</button>
                                <button type="button" class="btn btn-success payWithWallet w-100 mt-2">Pay with Wallet</button>

                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
  <script>
    {% for message in messages %}
      Swal.fire({
        icon: `{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}`,
        title: '{{ message.tags|capfirst }}',
        text: '{{ message|escapejs }}',
      });
    {% endfor %}
  </script>
{% endif %}



 <script>
    document.addEventListener("DOMContentLoaded", function () {
        const shipToDifferentAddressButton = document.getElementById("ship-to-different-address");
        const addressForm = document.getElementById("address-form");
        const addressRadios = document.querySelectorAll(".address-radio");

        shipToDifferentAddressButton.addEventListener("click", function () {
            addressForm.style.display = "block";

            // Unselect the radio buttons for existing addresses
            addressRadios.forEach(function (radio) {
                radio.checked = false;
            });
        });
        const walletButton = document.querySelector(".payWithWallet");
        walletButton.addEventListener("click", payWithWallet);
    });

  
    function payWithWallet() {
        $.ajax({
            url: '{% url "check_wallet_balance" %}',
            method: 'GET',
            success: function(response) {
                if (response.success) {
                    // Wallet balance is sufficient, update the form and submit
                    $('input[name="payment_mode"]').val('paid by wallet');
                    $('#razorpay-form').submit();  
                } else {
                    alert('Wallet balance is not sufficient.');
                }
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Insufficient Balance.',
                    text: 'Wallet balance is not sufficient.',
                });
            }
        });
    }



    
</script>

{% endblock content %}
{% block scripts %}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script> 
{% endblock scripts %}
