{% extends "user_account/user_base_account.html" %}
{% block account %}
<div >
    {% if orders%}               
    <table class="table table-bordered col-md-12">
     
        <thead class="text-center">
          <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Tracking Number</th>
            <th scope="col">Total Price</th>
            <th scope="col">Total Items</th>
            {% comment %} <th scope="col">Status</th> {% endcomment %}
            {% comment %} <th scope="col">Download</th> {% endcomment %}
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="pt-3 text-center">
          {% for item in orders%}
          <tr>
            <td class="pl-3">{{item.created_at}}</td>
            <td class="pl-3">{{item.tracking_no}}</td>
            <td class="pl-3">{{item.total_price|floatformat:2 }}</td>
            <td class="pl-3">{{ item.orderitem_set.count }}</td>
            {% comment %} <td class="pl-3">{{item.status}}</td> {% endcomment %}
            {% comment %} <td class="pl-3"><a href="{% url 'download_invoice' item.id%} ">Download</a></td> {% endcomment %}

            <td class=" text-center"colspan="2"> 
              <a href="{% url 'order-detail' item.id %}" class="btn btn-primary">View Order</a> &nbsp;&nbsp;
            </td>
          </tr>
         
         
           
          {% endfor %}
          
        </tbody>
      </table>
      {% else %}
    <p>No order has been made yet.</p>
    <a href="{% url 'store'%}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
    {% endif %}
</div><!-- .End .tab-pane -->  


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    {% if messages %}
    {% for message in messages %}
        Swal.fire({
            icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% elif message.tags == 'info' %}info{% endif %}",
            title: "{{ message.tags }}",
            text: "{{ message }}",
        });
    {% endfor %}
{% endif %}
  
  </script>

{% comment %} 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const cancelOrderBtns = document.querySelectorAll(".cancel-order-btn");

      cancelOrderBtns.forEach(function (btn) {
          btn.addEventListener("click", function (event) {
              event.preventDefault();

              const orderURL = btn.getAttribute("href");

              swal({
                  title: "Are you sure?",
                  text: "Do you want to cancel this order?",
                  icon: "warning",
                  buttons: ["Cancel", "OK"],
              }).then((confirmed) => {
                  if (confirmed) {
                      // User confirmed, proceed with order cancellation
                      window.location.href = orderURL; // Redirect to the cancel URL
                  }
              });
          });
      });
  });
</script> {% endcomment %}
{% endblock account %}