{% extends 'admin_dash/dash.html'%}
{% load static%}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Coupon Management</h3>
        
      </div>
      
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add Coupon</h4>
              {% for message in messages%}
              <p style="color:red;">{{message}}</p>
              {% endfor %}
              <form class="forms-sample" action="{% url 'add_coupon'%}" method='POST'>
                {% csrf_token %}

                 <div class="form-group">
                  {{ form.coupon_code.label_tag }}
                  {{ form.coupon_code }}
                  {% if form.coupon_code.errors %}
                      <p style="color: red;">{{ form.coupon_code.errors.0 }}</p>
                  {% endif %}
              </div>


              <div class="form-group">
                  {{ form.minimum_amount.label_tag }}
                  {{ form.minimum_amount }}
                  {% if form.minimum_amount.errors %}
                      <p style="color: red;">{{ form.minimum_amount.errors.0 }}</p>
                  {% endif %}
              </div>

              <div class="form-group">
                  {{ form.discount_percentage.label_tag }}
                  {{ form.discount_percentage }}
                  {% if form.discount_percentage.errors %}
                      <p style="color: red;">{{ form.discount_percentage.errors.0 }}</p>
                  {% endif %}
              </div>
                
              
                   <button type="submit" class="btn btn-success mr-2"> Add </button>
                   <a class="btn btn-dark" href="{% url 'view_coupons'%}">Cancel</a>
              </form>
             
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}