{% extends "admin_dash/dash.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
      <div class="page-header">
          <h3 class="page-title">Add Variants</h3>
         
      </div>

      <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Add Variants</h4>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}


                      <div class="form-group">
                        {{ form.size.label_tag }}
                        {{ form.size }}
                        {% if form.size.errors %}
                            <p style="color: red;">{{ form.size.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                        {% if form.quantity.errors %}
                            <p style="color: red;">{{ form.quantity.errors.0 }}</p>
                        {% endif %}
                    </div>
                      {% comment %} <div class="form-group">
                          <label for="id_name">Size</label>
                          <input type="text" name="size" class="form-control" id="id_name" placeholder="Enter size">
                      </div>
                      <div class="form-group">
                          <label for="id_name">Quantity</label>
                          <input type="text" name="quantity" class="form-control" id="id_name" placeholder="Add quantity">
                      </div> {% endcomment %}

                     
                      <div class="form-group">
                        {% for message in messages %}
                            <p style="color:red;">{{ message }}</p>
                        {% endfor %}
                      </div>

                      <button type="submit" class="btn btn-success mr-2">Add</button>
                      {% comment %} <a class="btn btn-dark" href="{% url 'show_variants' product.id %}">Cancel</a> {% endcomment %}
                  </form>

               
              </div>
          </div>
      </div>
  </div>
</div>





{% endblock content %}
