{% extends "admin_dash/dash.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
      <div class="page-header">
          <h3 class="page-title">Offer Management</h3>
          
         
      </div>

      <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Add Offers</h4>
                 
                  <form class="forms-sample" method="POST">
                      {% csrf_token %}

                      <div class="form-group">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                        {% if form.title.errors %}
                          <p style="color: red;">{{ form.title.errors.0 }}</p>
                        {% endif %}
                      </div>
              
                      <!-- Description -->
                      <div class="form-group">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {% if form.description.errors %}
                          <p style="color: red;">{{ form.description.errors.0 }}</p>
                        {% endif %}
                      </div>
              
                     
              
                      <!-- Discount Amount -->
                      <div class="form-group">
                        {{ form.discount_percentage.label_tag }}
                        {{ form.discount_percentage }}
                        {% if form.discount_percentage.errors %}
                          <p style="color: red;">{{ form.discount_percentage.errors.0 }}</p>
                        {% endif %}
                      </div>
              
                      <!-- End Date -->
                      <div class="form-group">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                        {% if form.end_date.errors %}
                          <p style="color: red;">{{ form.end_date.errors.0 }}</p>
                        {% endif %}
                      </div>
        
                      <button type="submit" class="btn btn-success mr-2">Add</button>
                      <a href="{% url 'view_offers' %}" class="btn btn-dark">Cancel</a>
                  </form>

                 
              </div>
          </div>
      </div>
  </div>
</div>





{% endblock content %}
