{% extends 'admin_dash/dash.html'%}
{% load static%}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
       {% include "alert.html" %}
      <div class="page-header">
      
        <h4 class="card-title">All Orders</h4>
           <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="{% url 'all-orders' %}" method="get" >
                      <input type="text" class="form-control" placeholder="Search order" name="query" id="query" value="{{ query|default_if_none:'' }}">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                  </li>
                </ol>
              </nav>
      </div> 
      {% comment %} {% if all_orders%} {% endcomment %}
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <a class="btn btn-sm btn-info" style="color : white;" href="{% url 'view-all-order-items' %}">View Order Items</a>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Tracking ID</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Items</th>
                      <th>Total</th>
                      <th>View Details</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                {% if all_orders%}
                  {% for order in all_orders %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td class="text-secondary">{{order.tracking_no}}</td>
                      <td>{{order.fname}} {{order.lname}}</td>
                      <td>{{order.created_at}}</td>
                      <td>{{order.orderitem_set.count}}</td>
                      <td>₹{{order.total_price | stringformat:'d'}}</td>
                      <td >
                         <a href="{% url 'view-single-order' order.id %}" class="btn bg-primary text-white">View 
                           {% if order.id in orders_with_return %}
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                          {% endif %}
                         </a>
                      </td>
                   </tr>
                    {%endfor%}   
                    {%else%} 
                     <tr>
                    <td colspan="7" class="text-center text-muted" style="padding: 80px 0;">
                      <h5>No orders found.</h5>
                      <p>There are currently no orders to display.</p>
                    </td>
                  </tr>
                    {%endif%}                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
          {% include 'pagination.html' with page_obj=all_orders%}
      </div>
     </div>

  </div>
  </div>
  








{% comment %} 
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function showCancelConfirmation(trackingNo) {
      Swal.fire({
        title: 'Cancel Order',
        text: 'Are you sure you want to cancel this order?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No, keep it'
      }).then((result) => {
        if (result.isConfirmed) {
          // If the user confirms, redirect to the delete view
          window.location.href = "{% url 'delete_order_admin' 0 %}".replace('0', trackingNo);
        }
      });
    }
  </script> {% endcomment %}
  
{% endblock content %}