{% extends 'admin_dash/dash.html'%}
{% load static%}


{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Apply offer for category</h3>
        
      </div>
      
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Apply Offer</h4>
            
              <form class="forms-sample" action="{% url 'update-category-offer' category.id%}" method='POST'>
                {% csrf_token %}
                    <div class="form-group">
                        {{ form.offer.label_tag }}
                        {{ form.offer }}
                        {% if form.offer.errors %}
                            <p style="color: red;">{{ form.offer.errors.0 }}</p>
                        {% endif %}
                    </div>
          
                   <button type="submit" class="btn btn-success mr-2">Apply</button>
                   <a class="btn btn-dark" href="{% url 'view-category-offers'%}">Cancel</a>
              </form>
             
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock content %}