

{% extends "admin_dash/dash.html" %}
{%load static %}
{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h4 class="card-title">Category&nbsp;Management</h4>
         <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" action="{% url 'category_management' %}" method="get" >
                      <input type="text" class="form-control" placeholder="Search category" name="query" id="query" value="{{ query|default_if_none:'' }}">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                  </li>
                </ol>
              </nav>
       
      </div>
      {% comment %} <div class="row"> {% endcomment %}
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            {% include "alert.html" %}
            <div class="card-body">
              <a class="btn btn-sm btn-success" style="color : white;" href="{% url 'add_category' %}">Add New category</a>

              {% comment %} <p class="card-description"> Add class <code>.table</code>
              </p> {% endcomment %}
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Offers</th>
                      <th>Status</th>
                      <th>Edit</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                 {% if all_category%}
                  {% for category in all_category%}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{category.name}}</td>
                      <td>{{category.description|truncatechars:35}}</td>
                      <td style="color:{% if category.offer%}yellow{%else%}red{%endif%}">
                        {% if category.offer %}
                          {{ category.offer | capfirst}}
                        {% else %} 
                        Not available
                        {% endif %}
                      </td>
                      <td style="color:{% if category.is_available%}green{%else%}red{%endif%}">
                        {% if category.is_available%}
                        Active
                        {% else %}
                        Inactive
                        {% endif %}
                      </td>
                      <td><a class="btn btn-sm btn-warning" style="color : white;" href="{% url 'update_category' category.id%}"> Edit </a></td>

                      <td>
                        {% if category.is_available %}
                                <a class="delete-category btn btn-sm btn-danger" data-url="{% url 'category_delete' category.id %}" style="color: white;">Block</a>
                        {% else %}
                              <a class="unblock-category btn btn-sm btn-success" data-url="{% url 'category_delete' category.id %}" style="color: white;">Unblock</a>
                        {% endif %}
                    </td>
                  </tr>
                    {%endfor%}  

                    {%else%}
                      <tr>
                          <td colspan="7" class="text-center">No category found.</td>
                        </tr>
                    {%endif%}
                   </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
            {% include 'pagination.html' with page_obj=all_category %}

      </div>
    </div>
  </div>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteCategoryLinks = document.querySelectorAll(".delete-category, .unblock-category");

        deleteCategoryLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
                event.preventDefault();

                const categoryDeleteUrl = link.getAttribute("data-url");
                const isDeleteButton = link.classList.contains("delete-category");

                if (isDeleteButton) {
                    swal({
                        title: "Are you sure?",
                        text: "Do you want to delete this category?",
                        icon: "warning",
                        buttons: ["Cancel", "OK"],
                    }).then((confirmed) => {
                        if (confirmed) {
                            // User confirmed, proceed with category deletion
                            window.location.href = categoryDeleteUrl;
                        }
                    });
                } else {
                    // The button is not for deletion, proceed without showing SweetAlert
                    window.location.href = categoryDeleteUrl;
                }
            });
        });
    });
</script>



{% endblock content %}


