{% extends "admin_dash/dash.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
      <div class="page-header">
          <h3 class="page-title">Size Variants</h3>
         
      </div>

      <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Update {{variant.size}} size quantity</h4>
                  <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                              
                      <div class="form-group">
                        {{ form.size.label_tag }}
                        {{ form.size }}
                        {% if form.size.errors %}
                            <p style="color: red;">{{ form.size.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                        {% if form.quantity.errors %}
                            <p style="color: red;">{{ form.quantity.errors.0 }}</p>
                        {% endif %}
                    </div>
                      <button type="submit" class="btn btn-success mr-2">update</button>
                      <a href="{% url 'show_variants' variant.product.id %}" class="btn btn-dark">Cancel</a>
                  </form>

               
              </div>
          </div>
      </div>
  </div>
</div>





{% endblock content %}
