

{% extends "admin_dash/dash.html" %}
{%load static %}
{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h4 class="card-title">Sales Report</h4>
           <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="nav-item w-100">
                     <form method="{% url 'view-sales-reports' %}" class="row ">
                      <div >
                          <label>Start Date</label>
                          <input type="date" name="start_date" class="form-control" value="{{ request.GET.start_date }}">
                      </div>
                      <div class="ml-1">
                          <label>End Date</label>
                          <input type="date" name="end_date" class="form-control" value="{{ request.GET.end_date }}">
                      </div>
                      <div class="d-flex align-items-end mr-2 ml-2">
                          <button type="submit" class="btn btn-primary">Filter</button>
                      </div>
                  </form> 

                  </li>
                </ol>
              </nav>
        

      </div>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
              {% include "alert.html" %}
            <div class="card-body">
              <div>
                <div>
                  {% if orders%}
                  <button class="btn btn-info" 
                  onclick="window.location='{% url 'download-pdf' %}?time_range={{ selected_time_range }}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}'">
                  Download PDF</button>
                  {% endif %}
              </div>
              
              </div>
                <div  class="form-group text-right">
                    <form method="get" action="{% url 'view-sales-reports' %}">
                    
                    <select name="time_range" id="time_range" class="form-control  col-sm-2 d-inline">
                     <option value="all" {% if selected_time_range == 'all' %}selected{% endif %}>All</option>
                      <option value="day" {% if selected_time_range == 'day' %}selected{% endif %}>Day</option>
                      <option value="week" {% if selected_time_range == 'week' %}selected{% endif %}>Week</option>
                      <option value="month" {% if selected_time_range == 'month' %}selected{% endif %}>Month</option>
                      <option value="year" {% if selected_time_range == 'year' %}selected{% endif %}>Year</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Apply Filter</button>
                  </form> 
                  
                </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Order Id</th>
                      <th>Customer</th>
                      <th>Date</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th>Status</th>
                      <th>Total amount</th>
                    
                    </tr>
                  </thead>
                   <tbody>
                  {% if orders%}
                     
                        {% for item in orders %}
                        
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{item.order.tracking_no}}</td>
                                <td>{{item.order.fname}} {{item.order.lname}}</td>
                                <td>{{item.order.created_at|date:'Y-m-d'}}</td>
                                <td>{{item.product.name |truncatechars:16}}</td>
                                <td>₹{{item.price | floatformat:0}}</td>
                                <td>{{item.quantity}}</td>
                                <td class="text-success">{{item.status}}</td>
                                <td>₹{{item.total_price | floatformat:0}}</td>
                      
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="8" class="text-right text-secondary"><strong>Total Sales:</strong></td>
                            <td class="text-secondary"><strong>₹{{ total_amount|floatformat:0 }}</strong></td>
                        </tr>
                    
                     
                      {% else %}
                    
                        <tr>
                          <td class="p-4 text-center" colspan="9">No data found</td>
                        </tr>
                      {% endif %}
                   </tbody> 
                </table>
              </div>
            </div>
          </div>
        </div>
        {% include 'pagination.html' with page_obj=orders%}
      </div>
     </div>

  </div>
  </div>

  
{% endblock content %}


