{% extends "user/reset_password_base.html" %}
{% block content %}
<form method="post" style="padding: 20px;">
    {% csrf_token %}
    
    <h2 style="text-align:center;">Reset Password</h2>
   

    {% for field in form %}
        <div class="form-wrapper" style="margin-top: 100px;">
            {{ field }}
            {% if field.name == 'email' %}
                <i class="zmdi zmdi-email"></i>
            {% endif %}
            {% if field.errors %}
                <small style="color:red;">{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
    {% endfor %}

    
        
        <div style="display:flex;">
            <button style="width:120px; height:40px" type="submit">Send
                <i class="zmdi zmdi-arrow-right"></i>
             </button>
           <button style="width:120px; height:40px" type="button" onclick="window.location.href='{% url 'login' %}'">Cancel</button>
        </div>
  
</form>
{% endblock content %}